:root {
    --main-blue: #71b7e6;
    --main-red: #cf0c0c;
    --main-grey: #ccc;
    --sub-grey: #d9d9d9;
    --main-purpule:#b036bd;
    --main-pink:#e2225c;
  }
      body{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 100vh;
                      width: 100vw;
                      flex-direction: column;
                      /* background: linear-gradient(135deg, var(--main-blue), var(--main-purpule),var(--sub-grey)); */
                      background: linear-gradient(45deg, #e975af , #cf0c0c, #d31de8,#2639a8);
                      background-size: 300% 300%;
                      animation: color 12s ease-in-out infinite;
                      
                      
      }
      @keyframes color {
          0%{
              background-position: 0% 50%;
          }
          50%{
              background-position: 100% 50%;
          }
          100%{
              background-position: 0% 50%;
          }
      }
      button{
          padding: 10px 20px;
          background-color: #000;
          color: #fff;
          border: none;
          outline: none;
          border-radius: 5px;
          cursor: pointer;
      }
      label{
          padding: 10px 20px;
         font-weight: 900;
          color: #000000;
          border: none;
          outline: none;
          
          cursor: pointer;
      }
      input{
          font-size: 15px;
          font-weight: 600;
          font-family: sans-serif;
          background:rgb(232, 222, 222);
          border: red solid 2px;
          border-radius: 5px;
          border-color: var(--main-purpule);
      }